@page
@model ChatHistoryModel
@{
    ViewData["Title"] = "Home page";
}

<div style="max-width: 1360px;">
    @foreach (var chat in @Model.Chat)
    {
        @if (chat.MsgType == Entities.MsgType.MSGTYPE_IMAGE || chat.MsgType == Entities.MsgType.MSGTYPE_APP || chat.MsgType == Entities.MsgType.MSGTYPE_VIDEO || chat.MsgType == Entities.MsgType.MSGTYPE_EMOTION)
        {
            <div style="width: 100%;word-wrap:break-word;margin: 0;">
                <div style="width: 100%; margin: 6px 0px -4px 0px;background-color:darkcyan;color: white; padding-left: 6px;">
                    <div style="width: 100%;">
                        <span style="font-size:small;font-weight:bolder;">@TimeZone.CurrentTimeZone.ToLocalTime(new DateTime (chat.CreateTime * 10000000L + new DateTime(1970, 1, 1, 8, 0, 0).Ticks))</span>
                    </div>
                    <div style="width: 95%;padding-left: 5%;">
                        <a href="./@chat.Filepath" target="_blank" style="color: yellow;font-size:small;"> 打开 @chat.MsgType.ToString().Substring(8) - @chat.Filename</a>
                    </div>
                </div>

            </div>
        }
    }
</div>
<div style="text-align: center;margin-top: 20px;">------------没有更多了------------</div>
